version: '3.9'

volumes:
  postgres-data:
    driver: local

services:
  postgres:
    image: postgres:14.4-alpine
    environment:
      POSTGRES_USER: go-tg-bot
      POSTGRES_PASSWORD: go-tg-bot
      POSTGRES_DB: go-tg-bot
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
     - "5432:5432"